* {

    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.5vw;
    text-align: center;

}


body {

    background-image: linear-gradient(rgb(185, 36, 141), rgba(206, 10, 10, 0.692))

}


h1 {

    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    background: -webkit-linear-gradient(rgb(51, 255, 0), rgb(0, 81, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 2em;
    margin: 0 0 0 0;
    

}

p {

    font-family: 'Nunito Sans', sans-serif; 
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
    margin: auto;
    padding: auto;

}

.pink {

    color: pink;
    -webkit-text-stroke: 0.2vw;
    -webkit-text-stroke-color: black;
    font-size: 1.7em;
    margin: auto;
    padding: auto;

}

img { 

    height: auto;
    width: auto;

}

.img-right {

    width: 20vw;
    height: 25vw;
    margin-top: 1.15vw;
    right: 10vw;
    position: absolute; 
    z-index: -1; 

}

.img-left {

    width: 20vw;
    height: 25vw;
    margin-top: 1.15vw;
    left: 10vw;
    position: absolute; 
    z-index: -1; 

}

.small {

    font-size: 0.5em;

}
